<footer class="footer" id="contact" style="height: auto; background-color: #2D4A3E ;"> 
  <div class="container"> 
    <div class="row">  
      <h2 class="" style="color: #E9B824 ;">Joyce Food</h2> 
      
      <div class="col-12 col-md-4"> 
        <h5>Adresse</h5>
        <p class="text-white">📍 Rue Soudanaise, Akwa - Douala</p> 
        <p class="text-white">📞 +237 671699427</p> 
        <p class="text-white">✉️ joycedelicemafo@gmail.com</p> 
      </div> 
  
       
      <div class="col-12 col-md-4">
        <h5>Suivez-nous</h5> 
        <div class="socials d-flex flex-column gap-2" > 
          <a href="#" class="text-white text-decoration-none"> Facebook</a> 
          <a href="#" class="text-white text-decoration-none">Instagram</a> 
          <a href="#" class="text-white text-decoration-none">WhatsApp</a> 
        </div> 
      </div> 
  
       
      <div class="col-12 col-md-4"> 
        <h5>Navigation</h5> 
        <ul class="list-unstyled "> 
          <li><a href="#menu" class="text-decoration-none list-style-type-none text-white ">  Menu</a></li> 
          <li><a href="#horaires" class="text-decoration-none list-style-type-none text-white">  Horaires</a></li> 
          <li><a href="#temoignages" class="text-decoration-none list-style-type-none text-white">  Témoignages</a></li> 
          <li><a href="#contact" class="text-decoration-none list-style-type-none text-white">  Contact</a></li> 
        </ul> 
      </div>
    </div> 
<hr> 
<p class="text-center mb-0"> 
© 2026 Joyce Food — Tous droits réservés 
</p> 
</div> 
</footer>