.hero {
  position: relative;
  background-size: cover;
  background-position: center;
  min-height: 450px;
  
  width: 100%;
 
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(22, 22, 22, 0.4);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
}
